#signup-page-container {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#signup-page-container form {
    display: flex;
    flex-direction: column;
}

#signup-page-container form input {
    height: 25px;
}

#sign-up-submit-button {
    margin-top: 15px;
    height: 35px;
    border-radius: 8px;
    font-weight: bold;
    background-color: rgb(25, 167, 206);
    color: rgb(246, 241, 241);
    cursor: pointer;
}
