#item-details-page-container-wrapper {
    display: flex;
    justify-content: center;
}

#item-details-page-container {
    width: 70%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}

#item-details-container {
    display: flex;
    padding: 15px;
}

#item-details-image {
    height: 500px;
    width: 500px;
    object-fit: contain;
}
#item-image-change-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-image-change-button {
    height: 50px;
    width: 50px;
    border: none;
    background: none;
    font-size: xx-large;
    cursor: pointer;
}

#item-details-info-container {
    margin-left: 20px;
    /* position: sticky; */
}

#item-details-owner-btns {
    display: flex;
    margin-top: 40px;
    gap: 15px;
    /* margin: 5px 10px; */
}

#item-details-owner-btns button {

    border-radius: 8px;
    cursor: pointer;
    width: 100px;
    padding: 3px 8px;
    border-radius: 8px;
    font-weight: bold;
    background-color: rgb(20, 108, 148);
    color: rgb(246, 241, 241);

}

.item-details-owner-btn {
    /* margin: 5px 10px; */
}

/* CONFIRM DELETE */
#confirm-delete-buttons {
    display: flex;
    gap: 10px;
}

#confirm-delete-container button {
    border-radius: 8px;
    cursor: pointer;
    width: 100px;
    padding: 3px 8px;
    border-radius: 8px;
    font-weight: bold;
    color: rgb(246, 241, 241);
}

#confirm-delete-delete {
    background-color: rgb(255, 122, 122);
}

#confirm-delete-cancel {
    background-color: rgb(20, 108, 148);
}

.star {
    color: rgb(20, 108, 148);
}
#item-reviews-container {
    margin-top: 30px;
    border-top: 1px solid rgb(20, 108, 148, 0.2);
}
#item-reviews-no-reviews-title {
    color: rgb(20, 108, 148);
    margin-left: 100px;
}
.add-remove-image-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}
