#footer-page-container {
    /* border: 1px solid black; */
    height: 70px;
    background-color: rgb(20, 108, 148);
    color: rgb(246, 241, 241);
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    bottom: 5px;
}
#footer-github-link {
    color: rgb(246, 241, 241);
    font-size: x-large;
    align-self: center;
    margin-left: 50px;
    cursor: pointer;
}
#footer-github-link a {
    color: white;
}
