#review-page-container {
    margin-left: 40px;
}
#all-reviews-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.review-container {
    border: 1px rgb(116, 116, 116, 0.5) solid;
    border-radius: 15px;
    padding-left: 15px;
    max-width: 800px;
}
