/* TODO Add site wide styles */
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* #root {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
